<div id="form">
    <br>
<div>
    <label>Full Name</label> <br>
    <input type="text" name="fullName" id="fullName" #fullName></div>
<div></div>
    <label>Age</label> <br>
    <input type="number" name="age" id="age" #age>
<div>
    <label><h3>Gender</h3></label>
    <div *ngFor="let gen of genders">
        <span>
            <label>{{gen.genderType}}</label>
            <input type="radio" name="gender" value={{gen.id}} checked="true" (change)="onChangeGen(gen.id, gen.genderType)">
        </span>
    </div>
</div>
<div>
    <label><h3>Ethnicity</h3></label>
    <div *ngFor="let eth of ethnicity">
        <span>
            <label>{{eth.ethnicityType}}</label>
            <input type="radio" name="ethnicity" value={{eth.id}} checked="true" (change)="onChangeEth(eth.id, eth.ethnicityType)" >
        </span>
    </div>
</div>
<div>
    <br>
    <button class="btn" type="button" (click)="postPerson(fullName.value,age.value)">Submit</button>
</div>
</div>
